<script>
	import deck from '$lib/deck.js';
	import Card from '$lib/components/card.svelte';
	import Main from '$lib/components/main.svelte';
</script>

<Main>
	<div class="container">
		<h1 class="header">КОЛОДА</h1>
		<div class="wrapper">
			{#each deck as card, i}
				<div class="cardWrapper"><Card {card} timeout={i * 100 + 1000} /></div>
			{/each}
		</div>
	</div>
</Main>

<style>
    .cardWrapper{
        margin: 13px 8px;
        width: 100%;
        max-width: 120px;
    }
	.container {
		border-radius: 16px;
		border: 1px solid #cc8e70;
		background: rgba(254, 244, 222, 0.95);
		padding: 8px;
		margin: 16px;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 16px;
	}
	.header {
		color: #010030;
		text-align: center;
		font-size: 24px;
		font-weight: 400;
	}
</style>
