<script>
	import { onMount } from 'svelte';
	const id = Math.round(Math.random() * 100000);

	onMount(() => {
		window?.yaContextCb?.push(() => {
			Ya?.Context?.AdvManager.render({
				blockId: 'R-A-4908148-2',
				renderTo: `yandex_rtb_R-A-${id}-2`
			});
		});
	});
</script>

<div id={`yandex_rtb_R-A-${id}-2`} class="banner"></div>

<style>
	.banner {
		flex-grow: 1;
		padding: 16px;
		margin: 16px;
		box-sizing: border-box;
	}
</style>
