<script>
	export let question;
	export let makeLayout;

</script>

<div class="container">
	<h1 class="header">НАПИШИТЕ ВОПРОС:</h1>
	<div class="inputContainer">
	
		<input class="input" type="text" placeholder="Что меня ждет в будущем?" bind:value={question} />
		<div class="wrapper">
			<div class="line" />
			<div class="ball ballLeft"></div>
			<div class="ball ballRight"></div>
		</div>
	</div>
	<div class="buttonContainer">
		<button class="button" on:click={makeLayout}> Сделать расклад </button>
	</div>
</div>

<style>
	.leftBorder{
		position: absolute;
		border-left: 1px solid #cc8e70;
		height: 60px;
		top: -12px;
		left: 13px;
	}
	.rightBorder{
		position: absolute;
		border-left: 1px solid #cc8e70;
		height: 60px;
		top: -12px;
		right: 13px;
	}
	.wrapper{
		position:relative;
	}
	.inputContainer {
		position: relative;
		margin-bottom: 32px;
	}
	.line {
		border-bottom: 1px solid #cc8e70;
	}
	.ball {
		min-width: 11px;
		max-width: 11px;
		min-height: 11px;
		max-height: 11px;
		/* border-radius: 50%; */
		transform: rotate(45deg);
		position: absolute;
		background-color: #cc8e70;
		bottom: -5px;
	}
	.ballLeft {
		left: 8px;
	}
	.ballRight {
		right: 8px;
	}
	.container {
		border-radius: 16px;
		border: 1px solid #cc8e70;
		background: rgba(254, 244, 222, 0.95);
		padding: 16px;
		margin: 16px;
	}
	.header {
		color: #010030;
		text-align: center;
		font-size: 24px;
		font-weight: 400;
	}
	.input {
		background: none;
		border: none;

		outline: none;
		width: 100%;
		font-size: 16px;
		text-align: center;
		padding: 8px 16px;
		box-sizing: border-box;
		border-radius: 0;
	}
	.button {
		background-color: #836ffb;
		font-size: 24px;
		color: #fff6e3;
		border-radius: 8px;
		padding: 8px 16px;
		border: none;
		text-transform: uppercase;
	}
	.button:hover {
		background-color: #140d57;
		cursor: pointer;
	}
	.buttonContainer {
		display: flex;
		justify-content: center;
	}
</style>
