<script>
	import { page } from '$app/stores';
	const searchParams = new URLSearchParams($page.url.search);

	export let title = 'Гадание Таро';
	export let description = searchParams.get('id') ? "Посмотри мой расклад таро онлайн" : "Гадание таро онлайн. Задай вопрос и узнай судьбу";
	export let image = searchParams.get('p') ? `${$page.url.origin}/api/ogimage/${$page.url.search}` : '/img/og.jpg';
	export let url = $page.url.origin;
	export let type = 'website';
	export let locale = 'ru_RU';
	export let siteName = 'Таро онлайн';

</script>

<svelte:head>
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={image} />
	<meta property="og:url" content={url} />
	<meta property="og:type" content={type} />
	<meta property="og:locale" content={locale} />
	{#if siteName}
		<meta property="og:site_name" content={siteName} />
	{/if}
</svelte:head>
