<script>
	import {slide, fade} from 'svelte/transition'
	import Share from './share.svelte'
	import Card from '$lib/components/card.svelte'
	export let layout;
	export let inter;
	export let newReading;
	export let readingId;
	$: text = inter.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>').replace(/\*/g, '');
	const positions = ['прошлое', 'настоящее', 'будущее'];
</script>

<div class="container">
	<h1 class="header">РАСКЛАД</h1>
	<div class="wrapper">
		{#each layout as card, i}
			<div class="cardContainer">
				<!-- <div class="card">
					<img src={`/img/card${card.img}`} alt="tarotCard" class="tarotImage" />
				</div> -->
				<Card {card} timeout={i*500 + 1000}/>
				<div class="position">{positions[i]}</div>
			</div>
		{/each}
	</div>
</div>
<div class="spacer"></div>
<div class="container" in:slide|local={{delay: 2500}}>
	<div class="reading" >
		<div class="lineContainer">
			<div class="line"></div>
			<div class="ball ballLeft"></div>
			<div class="ball ballRight"></div>
		</div>
		{@html text}
		<div class="lineContainer">
			<div class="line"></div>
			<div class="ball ballLeft"></div>
			<div class="ball ballRight"></div>
		</div>
		<!-- <Share {readingId} layout={layout} inter={inter}/> -->
	</div>
</div>

<div class="buttonContainer"  in:fade|local={{delay: 2500}}>
	<button class="button" on:click={newReading}> Новый расклад </button>
</div>

<style>
	.lineContainer {
		position: relative;
		margin: 16px 0;
	}
	.line {
		border-bottom: 1px solid #cc8e70;
	}
	.ball {
		min-width: 11px;
		max-width: 11px;
		min-height: 11px;
		max-height: 11px;
		transform: rotate(45deg);
		position: absolute;
		background-color: #cc8e70;
		bottom: -5px;
	}
	.ballLeft {
		left: 8px;
	}
	.ballRight {
		right: 8px;
	}
	.container {
		border-radius: 16px;
		border: 1px solid #cc8e70;
		background: rgba(254, 244, 222, 0.95);
		padding: 8px;
		margin: 16px;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
	}
	.header {
		color: #010030;
		text-align: center;
		font-size: 24px;
		font-weight: 400;
	}
	.cardContainer {
		width: 33%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 6px;
	}
	
	.position {
		text-transform: uppercase;
		font-size: 16px;
		margin-top: 16px;
	}
	.reading {
		font-size: 16px;
		line-height: 24px;
		white-space: pre-line;
		padding: 8px;
	}
	.button {
		background-color: #836ffb;
		font-size: 24px;
		color: #fff6e3;
		border-radius: 8px;
		padding: 8px 16px;
		border: none;
		text-transform: uppercase;
	}
	.button:hover {
		background-color: #140d57;
		cursor: pointer;
	}
	.buttonContainer {
		display: flex;
		justify-content: center;
		padding-bottom: 160px;
		
	}
</style>
