<script>
	import { page } from '$app/stores';
	import {fly} from 'svelte/transition'
	export let readingId;
	export let layout = [];
	
	$: url = `${$page.url.origin}?id=${readingId}&p=${layout[0]?.num}&c=${layout[1]?.num}&f=${layout[2]?.num}`;
	$: encodedUrl = encodeURIComponent(url);
	const title = encodeURIComponent('Расклад таро');

	let copyTimeout;
	let isCopied = false;
	const copy = async () => {
		clearTimeout(copyTimeout);
		
		await navigator.clipboard.writeText(url);
		isCopied = true;
		copyTimeout = setTimeout(() => {
			isCopied = false;
		}, 2000);
	};
</script>

<div>
	<h1 class="header">ПОДЕЛИТЬСЯ</h1>
	<div class="buttons">
		<a
			href={`https://vk.com/share.php?url=${encodedUrl}&title=${title}&utm_source=share2`}
			class="link"
			target="_blank"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
				><path
					d="M12.878 17.304c-5.411 0-8.695-3.755-8.823-9.994h2.74c.086 4.583 2.171 6.528 3.77 6.925V7.31h2.627v3.954c1.542-.17 3.155-1.97 3.698-3.954h2.584c-.414 2.441-2.17 4.24-3.412 4.983 1.242.6 3.24 2.17 4.011 5.01h-2.84c-.6-1.898-2.07-3.369-4.04-3.569v3.57h-.315Z"
					fill="#010030"
				/></svg
			>
		</a>
		<a
			href={`https://t.me/share/url?url=${encodedUrl}&text=${title}&utm_source=share2`}
			class="link"
			target="_blank"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
				><path
					d="M18.92 6.089L4.747 11.555c-.967.388-.962.928-.176 1.168l3.534 1.104 1.353 4.146c.164.454.083.634.56.634.368 0 .53-.168.736-.368.13-.127.903-.88 1.767-1.719l3.677 2.717c.676.373 1.165.18 1.333-.628l2.414-11.374c.247-.99-.378-1.44-1.025-1.146zM8.66 13.573l7.967-5.026c.398-.242.763-.112.463.154l-6.822 6.155-.265 2.833-1.343-4.116z"
					fill="#010030"
					fill-rule="evenodd"
				/></svg
			>
		</a>
		<a
			href={`https://api.whatsapp.com/send?text=${title}%20${encodedUrl}&utm_source=share2`}
			class="link"
			target="_blank"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
				><path
					d="M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 01-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 01-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553A6.48 6.48 0 006.8 15.636l-.825 2.433 2.537-.806a6.6 6.6 0 003.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 01-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 01-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 00-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z"
					fill="#010030"
					fill-rule="evenodd"
				/></svg
			>
		</a>
		<a href={url} class="link" on:click|preventDefault={copy}>
			<svg viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					fill="#010030"
					d="M63.8305 69.3125H34.4458C30.8712 69.3125 27.9639 66.4051 27.9639 62.8305V33.4458C27.9639 29.8712 30.8712 26.9639 34.4458 26.9639H63.8305C67.4051 26.9639 70.3125 29.8712 70.3125 33.4458V62.8305C70.3125 66.4051 67.4051 69.3125 63.8305 69.3125ZM34.4458 31.2851C33.2544 31.2851 32.2851 32.2544 32.2851 33.4458V62.8305C32.2851 64.0219 33.2544 64.9912 34.4458 64.9912H63.8305C65.0219 64.9912 65.9912 64.0219 65.9912 62.8305V33.4458C65.9912 32.2544 65.0219 31.2851 63.8305 31.2851H34.4458ZM23.6426 52.0273H21.4819C20.2906 52.0273 19.3213 51.0581 19.3213 49.8667V20.4819C19.3213 19.2906 20.2906 18.3213 21.4819 18.3213H50.8667C52.0581 18.3213 53.0273 19.2906 53.0273 20.4819V22.5345H57.3486V20.4819C57.3486 16.9074 54.4413 14 50.8667 14H21.4819C17.9074 14 15 16.9074 15 20.4819V49.8667C15 53.4413 17.9074 56.3486 21.4819 56.3486H23.6426V52.0273Z"
				/>
			</svg>
		</a>
	</div>
</div>
{#if isCopied}
	<div class="toast" transition:fly|local={{y:100}}> Скопировано</div>
{/if}

<style>
	.toast{
		position: fixed;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		background: linear-gradient(
			90deg,
			rgba(254, 244, 222, 0) -1.49%,
			#fef4de 9.61%,
			#fef4de 49.78%,
			#fef4de 85.98%,
			rgba(254, 244, 222, 0) 100%
		);
		padding: 8px 32px;
		font-size: 24px;
		color: #010030;
		
	}
	.header {
		color: #010030;
		text-align: center;
		font-size: 24px;
		font-weight: 400;
	}
	.link {
		padding: 0 4px;
	}
	.link svg {
		width: 40px;
		height: 40px;
	}
	.link svg:hover path {
		fill: #cc8e70;
	}
	.buttons {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
