<script>
	import { onMount } from 'svelte';
	let canvas;
	const loadImage = (url) => {
		return new Promise((resolve) => {
			const image = new Image();
			image.src = url;
			image.onload = () => {
				resolve(image);
			};
		});
	};
	async function generateResultImage(pastImage, currentImage, futureImage, backgroundUrl) {
		const canvasWidth = 1200;
		const canvasHeight = 630;
		canvas.width = canvasWidth;
		canvas.height = canvasHeight;

		const ctx = canvas.getContext('2d');
		const backgroundImage = await loadImage(backgroundUrl);
		ctx.drawImage(backgroundImage, 0, -250, 1200, 1200);
		ctx.fillStyle = 'rgba(0, 0, 0, 0.3)';
		ctx.fillRect(0, 0, canvasWidth, canvasHeight);

		ctx.translate(50, 150);
		ctx.rotate(-0.5235987756);
		const pastImageLoaded = await loadImage(pastImage);
		ctx.drawImage(pastImageLoaded, 0, 0, 900, 1575, 0, 0, 225*1.3, 393*1.3);

		ctx.translate(800, 290);
		ctx.rotate(0.5235987756*2);
		const futureImageLoaded = await loadImage(futureImage);
		ctx.drawImage(futureImageLoaded, 0, 0, 900, 1575, 0, 0, 225*1.3, 393*1.3);
		
		ctx.translate(-350, 250);
		ctx.rotate(-0.5235987756);
		const currentImageLoaded = await loadImage(currentImage);
		ctx.drawImage(currentImageLoaded, 0, 0, 900, 1575, 0, 0, 225*1.3, 393*1.3);

		ctx.rotate(-0.5235987756);
		const gradient = ctx.createLinearGradient(0, 0, 1000, 0);
		ctx.rotate(0.5235987756);
		ctx.translate(-360, 380);
		gradient.addColorStop(0, 'transparent');
		gradient.addColorStop(0.0961, 'rgba(254, 244, 222, 0.7)');
		gradient.addColorStop(0.4978, 'rgba(254, 244, 222, 0.7)');
		gradient.addColorStop(0.9298, 'rgba(254, 244, 222, 0.7)');
		gradient.addColorStop(1, 'transparent');
		
		
		await document.fonts.load('10pt "philosopher"')
		ctx.fillStyle = gradient;
		ctx.fillRect(0, 0, 1200, 100);
		ctx.fillStyle = '#010030';
		ctx.font = '78px philosopher';
		ctx.fillText('ГАДАНИЕ ТАРО', 195, 83);
	}

	export async function init() {
		const searchParams = new URLSearchParams(window.location.search);
		const { origin } = window.location;

		const past = searchParams.get('p');
		const current = searchParams.get('c');
		const future = searchParams.get('f');

		const pastImage = past ? `${origin}/img/card/cats/${past}.jpg` : null;
		const currentImage = current ? `${origin}/img/card/cats/${current}.jpg` : null;
		const futureImage = future ? `${origin}/img/card/cats/${future}.jpg` : null;

		const backgroundUrl = `${origin}/img/bg3.jpg`;

		// const gameName = 'Dice Quest';

		const imageData = await generateResultImage(
			pastImage,
			currentImage,
			futureImage,
			backgroundUrl
		);
	}
	onMount(() => {
		init();
	});
</script>

<canvas bind:this={canvas}></canvas>

<style>
	canvas {
		width: 1200px;
		height: 630px;
	}
</style>
