<script>
	import { onMount } from 'svelte';
	export let timeout = 1000;
	export let card;
	let flipped = false;

	onMount(() => {
		setTimeout(() => {
			flipped = true;
		}, timeout);
	});
</script>

<div class="card-container">
	<div class="card" class:flipped>
		<div class="face front"><img src="/img/card/back.png" alt="card" /></div>
		<div class="face back">
			<div class:rotate={card.orientation}>
				<img src={`/img/card${card.img}`} alt="card" />
				<div class="cardName">{card.name}</div>
			</div>
		</div>
	</div>
</div>

<style>
	.cardName {
		text-transform: uppercase;
		background: linear-gradient(
			90deg,
			rgba(254, 244, 222, 0) -1.49%,
			#fef4de 9.61%,
			#fef4de 49.78%,
			#fef4de 85.98%,
			rgba(254, 244, 222, 0) 100%
		);
		color: #010030;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		font-size: 10px;
		text-align: center;
		font-weight: bold;
		padding: 3px;
	}
	.rotate {
		transform: rotate(180deg);
	}
	.card-container {
		perspective: 1000px;
		width: 100%;
		max-width: 120px;
	}

	.card {
		width: 100%;
		transform-style: preserve-3d;
		transition: transform 0.6s;
		animation: cardFlip 0.275s forwards linear;
		padding-top: 166%;
	}

	.card.flipped {
		transform: rotateY(180deg);
		animation: cardUnFlip 0.275s forwards linear;
	}

	.face {
		top: 0;
		position: absolute;
		backface-visibility: hidden;
		border: 1px solid #ccc;
		border-radius: 8px;
		background-color: white;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		overflow: hidden;
	}
	.face img {
		display: block;
		width: 100%;
	}

	.back {
		transform: rotateY(180deg);
	}
	@keyframes cardFlip {
		0% {
			transform: rotateZ(0deg) rotateY(180deg);
		}
		50% {
			transform: rotateZ(-10deg) rotateY(90deg);
		}
		100% {
			transform: rotateZ(0deg) rotateY(0deg);
		}
	}

	@keyframes cardUnFlip {
		0% {
			transform: rotateZ(0deg) rotateY(0deg);
		}
		50% {
			transform: rotateZ(-10deg) rotateY(90deg);
		}
		100% {
			transform: rotateZ(0deg) rotateY(180deg);
		}
	}
</style>
