<main class="main">
	<div class="overlay"></div>
	<div class="content">
        <div class="wrapper">
            <slot />
        </div>
		
	</div>
</main>

<style>
    .wrapper{
        max-width: 900px;
    margin: 0 auto;
    }
	.main {
		background-image: url(/img/bg3.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
	}
	.overlay {
		position: fixed;
		background-color: rgba(12, 12, 12, 0.3);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
</style>
